<div class="row">
<form name="ipv4Input" novalidate>
  <div class="col-md-6 col-md-offset-2">
  <br/>
	<div class="input-group">
	  <input ng-model="ipv4.address" type="text" class="form-control" placeholder="10.0.0.0" ng-pattern="ipv4.pattern" name="address" ng-change="onChange()" required>
	  <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span ng-bind="ipv4.title"></span> <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right scroll-menu" role="menu">
          <li ng-repeat="subnet in ipv4.subnets"><a ng-click="ipv4.title=subnet">/{{ subnet }}</a></li>
        </ul>
      </div>
	</div>
	<p>Subnet: {{ipv4.title}}<br/>
	   Address: {{ipv4.address}}<br/>
	   Valid: {{ipv4Input.address.$valid}}<br/>
	   Response: {{ipv4.response}}<br/>
	   Split: {{ipv4.splitAddress}}
	</p>
	<code>Form: {{ipv4Input}}</code>
  </div>
  </form>
</div>