<div class="row">
  <div class="col-md-6 col-md-offset-2" ng-init="selected=0">
  <br/>
	<div class="input-group">
	  <input ng-model="query" type="text" class="form-control" placeholder="10.0.0.0">
	  <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Subnet Mask <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right scroll-menu" role="menu">
          <li ng-repeat="subnet in subnets"><a ng-click="$parent.selected=subnet">/{{ subnet }}</a></li>
        </ul>
      </div>
	</div>
	<p>Subnet: {{selected}}</p>
  </div>
</div>