<div class="row">
  <div class="col-md-6 col-md-offset-2" ng-init="selected=0">
  <br/>
	<div class="input-group">
	  <input ng-model="query" type="text" class="form-control" placeholder="2001:db8:1234::">
	  <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Prefix Length <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right scroll-menu" role="menu">
          <li ng-repeat="prefix in prefixes"><a ng-click="$parent.selected=prefix">/{{ prefix }}</a></li>
        </ul>
      </div>
	</div>
	<p>Prefix: {{selected}}</p>
  </div>
</div>